@page
@model Wpm.Web.Pages.LoginModel
@{
}
<form method="post">
    Username:<input asp-for="Input.Username" />
    Password:<input asp-for="Input.Password" type="password" />
    <button type="submit">Log in</button>
</form>